.all-urls-container {
    padding: 20px;
    background: #efefef;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}
  
.all-urls-container h1 {
    text-align: center;
    font-size: 36px;
    color: #ff4d4d;
    margin-bottom: 20px;
}
  
.urls-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.h1-allurl{
    margin-top: 80px;
}
  
.url-item {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
.url-item p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}
  
.url-item a {
    color: #ec7263;
    text-decoration: none;
}
  
.url-item a:hover {
    text-decoration: underline;
}
  
.loading {
    text-align: center;
    font-size: 18px;
    color: #555;
}
  
.error {
    text-align: center;
    font-size: 18px;
    color: #ff4d4d;
    margin-top: 20px;
}

.back-button {
    margin: 0px;
    display: flex;
    margin-right: 50px;
    background-color: #c82727;
    color: #fff;
    border: none;
    width: 90px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
}
  
.back-button:hover {
    background-color: #ff4a4a;
}

.view-redirects-button{
    margin: 0;
    width: 240px;
}

.button-view{
    justify-content: right;
    display: flex;
    text-align: center;
    align-items: center;
}